---
pageable: true
per_page: 10
---
Seattle Xiangqi is a group that meets on the second Monday of every month to
hang out and play XiangQi (象棋). XiangQi, also known as Chinese chess, is a
strategy board game related to the usually more familiar "Western" or
"International" chess. Players of all levels are welcome to come.

Please feel free to contact us at <a href="mailto:admin@seattlexiangqi.org">admin@seattlexiangqi.org</a> if you have any questions!
<% if paginate && num_pages > 1 %>
  <p>Page <%= page_number %> of <%= num_pages %></p>

  <% if prev_page %>
    <p><%= link_to 'Previous page', prev_page %></p>
  <% end %>
<% end %>

<% page_articles.each_with_index do |article, i| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <!-- use article.summary(250) if you have Nokogiri available to show just
       the first 250 characters -->
  <%= article.body %>
<% end %>

<% if paginate %>
  <% if next_page %>
    <p><%= link_to 'Next page', next_page %></p>
  <% end %>
<% end %>
