!!! 5
%html
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge;chrome=1'}
    %title
      Seattle Xiangqi | 西雅图象棋
      = ' - ' + current_article.title unless current_article.nil?
    = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
    = stylesheet_link_tag "main"
  %body
    .sidebar
      = image_tag 'images/xiangqi.png', class: 'logo'
      .about
        Seattle Xiangqi is a group that meets on the second Monday of every month to
        hang out and play XiangQi (象棋). XiangQi, also known as Chinese chess, is a
        strategy board game related to the usually more familiar "Western" or
        "International" chess. Players of all levels are welcome to come.

        Please feel free to contact us at
        = link_to 'admin@seattlexiangqi.org', 'mailto:admin@seattlexiangqi.org'
        if you have any questions!
    .main
      = yield
